<div class="main-content-wrapper">
    <div class="bar-box">
        <div>
            <button mat-stroked-button>
                <span class="material-icons">add</span> Dodaj
            </button>
        </div>
        <div>
            <button mat-stroked-button>
                <span class="material-icons">cached</span> Odśwież
            </button>
            <button mat-stroked-button color="primary">
                <span class="material-icons">get_app</span> Export BibTeXa
            </button>
            <button mat-stroked-button color="primary">
                <span class="material-icons">get_app</span> Export RTF
            </button>
        </div>
    </div>
    <div class="table-box">
        <!-- <div class="info not-data-find">
            Brak danych, dodaj pierwszy wpis
        </div> -->
        <div class="info loading-data">
            <div>
                <mat-spinner diameter="40"></mat-spinner>
                <div class="desc">
                    Trwa Ładowanie danych...
                </div>
            </div>

        </div>
    </div>
</div>